.up {
    position: fixed;
    right: 30px;
    bottom: 20px;
    display: inline-block;
    width: 64px;
    height: 64px;
    height: 50px;
    font-size: 18px;
    padding: 0 10px;
    background-color: rgb(137, 205, 193);
    box-shadow: 0 0 15px #4eaca2;
    border-radius: 10px;
    border: 1px solid #08e1c0;
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 500ms;
    cursor: pointer;
}